

body, html {
    height: 100%;
    background-image: url('../images/milky_way.jpeg');
    background-position: left;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
