* {
  background-color: rgb(150, 240, 256);
  /* border: 1px solid gold; */
  width: 320px;
  margin: 0 auto;
}

body {
  text-align: center;
  margin: 25px auto;
  border: 3px solid green;
  background-color: white;
}

header {
  background-color: white;
  font-size: 2.5em;
  padding: 7px 0;
  border-bottom: 3px solid green;
}

h2 {
  background-color: white;
  margin-top: 3px;
}

h3 {
  text-align: center;
  margin: 0;
  font-size: 1em;
  font-weight: 400;
  background-color: white;
  padding: 0 12px 10px 12px;
  width: 296px;
}

.zipForm {
  background-color: white;
  padding: 0 0 10px 0;
}

.zipInput {
  background-color: white;
  text-align: center;
  width: 296px;
  border: 1px solid green;
  background: lightgray;
  margin: 0 0 2px 0;
  font-weight: 700;
}

.submitBtn {
  background-color: white;
  width: 300px;
  border: 1px solid green;
  background: lightgray;
}

.zipInput:hover {
  cursor: text;
}

.submitBtn:hover {
  cursor: pointer;
}

.resultsContainer {
  display: flex;
  justify-content: center;
  background-color: white;
}

.carouselContainer {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  width: 305px;
  background-color: white;
}


.forecastContainer {
  width: 300px;
  height: 220px;
  color: white;
  font-size: .8em;
  font-weight: bold;
  background-color: blue;
  justify-content: flex-start;
  align-items: flex-start;
  white-space: pre;
  border: 3px solid gold;
}

.cityDate {
  color: gold;
}

.columnTop {
  border-top: 1px solid white;
}

.columnBottom {
  border-bottom: 1px solid white;
}


p {
  display: flex;
  align-items: flex-start;
  background-color: inherit;
  margin: 0;
  width: 300px;
}

/* Data line styles the rows of data displayed in the table */
.dataLine {
  /* display: flex;
  flex-flow: column; */
  background-color: inherit;
  margin: 0;
}

ul {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  list-style-type: none;
  background-color: inherit;
  margin: 0;
  /* border: 1px solid red; */
  padding: 0;
  width: 300px;
  white-space: pre;
}

li {
  width: 300px;
  white-space: pre;
  text-align: left;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  width: 300px;
  background-color: white;
  padding: 10px 0;
}

.previous, .next {
  width: 140px;
  border: 1px solid green;
  background-color: lightgray;
}

.previous:hover {
  cursor: pointer;
}

.next:hover {
  cursor: pointer;
}


/* Set the page to be responsive */
@media (min-width: 600px) {
* {
    width: 520px;
}

header {
  font-size: 1.2em;
}

h2 {
  font-size: 1.2em;
}

h3 {
  font-size: 1.2em;
}

.zipForm {
  display: flex;
  align-items: center;
  justify-content: center;
}

.zipInput {
  background-color: white;
  text-align: center;
  width: 240px;
  font-size: 1.1em;
}

.submitBtn {
  background-color: white;
  width: 230px;
  font-size: 1.1em;
}

.carouselContainer {
  width: 500px;
}

.forecastContainer {
  width: 500px;
  height: 350px;
  font-size: 1.2em;
}

ul {
  width: 500px;
}

li {
  width: 500px;
}

p {
  width: 500px;
}

.buttonContainer {
  width: 500px;
}

.previous {
  font-size: 1.2em;
}

.next {
  font-size: 1.2em;
}

}
